body {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: min(2em,10%);
  padding-right: min(2em,10%);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat:no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: 100% 45%;
  position: relative;
  margin: 0;
}
h1 {
  color: hsl(223, 47%, 23%);
  margin: 0;
  font-size: 26px;
  font-weight: 900;
}
p{
margin: 0;
color: hsl(224, 23%, 55%);
}

button{
  margin: 2em 0;
  border-style: none;
  padding: 1em;
  font-weight: 700;
  color: white;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 20px 20px  hsl(245, 75%, 92%);
  width: 100%;
}
/* width: clamp(10em, 21.4em, 75vw);*/
button:hover{
  background-color: #766cf1;
}

a{
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

a:hover{
  color: hsl(223, 47%, 23%);
}
.card {
  max-width: 28em;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0.8em;
}
.banner {
  min-width: 100%;
  height: auto;
}
.description {
color: hsl(224, 23%, 55%);
margin: 1em 0;
max-width: 20em;
line-height: 1.8;
}

.textbox{
  margin: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan{
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  display: grid;
  grid-template-areas: 'icon price price price link';
  align-items: center;
  width: 100%;
}

.icon{
  grid-area: icon;
margin: 1.2em 0 1.2em 1.2em;
}
.price{
  grid-area: price;
  text-align: left;
  line-height: 1.8;
}
.change{
  grid-area: link;
  font-size: 14px;
  font-weight:700;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  margin-right: 1.2em;
}

.change:hover{
  color: #766cf1;
}

.plan-head {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.attribution {
  position: absolute;
text-align: center;
padding: 0;
bottom: 0;
left: 0;
right: 0;
margin: 3em auto 1em auto;
}

.attribution-link {
  margin: 0;
}
